$primary: rebeccapurple

$tabs-boxed-link-radius: 2px
$custom-colors: ("dark-primary": darken($primary, 10), "light-primary": lighten($primary, 10))

@import 'bulma/bulma.sass'
@import 'bulma-timeline/src/sass/index.sass'

.section
  box-shadow: 0 1px 4px 0 $grey-lighter
  padding: 45px
  background: $white
  margin-bottom: 45px
  border-radius: 2px
  background-clip: padding-box

img.profile-image
  border-radius: 50%