<template>
  <div class="hero-foot">
    <nav class="tabs is-boxed is-fullwidth has-background-dark-primary">
      <div class="container">
        <ul>
          <li>
            <a href="#experiences-section">Erfahrungen</a>
          </li>
          <li>
            <a href="#skills-section">Fähigkeiten</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</template>
