<template>
  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>website</strong> by <a href="mailto:MeikelLP@users.noreply.github.com ">Meikel Philipp</a>.
        The <a href="https://gitlab.com/MeikelLP/meikellp.de">source code</a> is licensed <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.
      </p>

      <a href="https://bulma.io">
        <img src="https://bulma.io/images/made-with-bulma.png" alt="Made with Bulma" width="128" height="24">
      </a>
    </div>
  </footer>
</template>
